

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nvbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown apex">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="my-target1">
          Academic
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="my-target1"  style="background: #eaeffa">
            <a  class="submenu" style="color:black;">Extra Curriculum</a>
            <a  class="submenu" style="color:black;text-decoration: none;" href="/performance">Current Performance</a>
<!--            <div class="btn-group dropright" >-->
            <a class="nav-link dropdown-toggle dropdown-item  nav-link dropdown-toggle submenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black;">Student Section</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="background: #eaeffa">
                    <a href="/studentdetail" class="dropdown-item" ">Student Details</a>
                    <a href="#" class="dropdown-item">Course Feedback</a>
                    <a href="#" class="dropdown-item">Course Replacement</a>
                </div>
<!--            </div>-->
        </div>
      </li>

       <li class="nav-item dropdown apex">
        <a class="nav-link dropdown-toggle dt2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Grievance Redressal
        </a>
        <div class="dropdown-menu dm2" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Transaction</a>


        </div>
      </li>

       <li class="nav-item dropdown apex">
        <a class="nav-link dropdown-toggle dt3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Request/Application
        </a>
        <div class="dropdown-menu dm3" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">Transaction</a>

        </div>
      </li>

    </ul>

  </div>
</nav>
