<%- include("header"); -%>


<%- include("navbar"); -%>

<div style=" text-align:center;margin:10% auto;">
<table style="margin:40px auto;" border="1" cellspacing="0">
    <tr>
        <th>
       S.N.
        </th>
        <th>
            Course
        </th>
        <th>
            Quiz1
        </th>
        <th>
            Mid-Sem
        </th>
        <th>
            Quiz2
        </th>
        <th>
            End-Sem
        </th>
        <th>
            Total
        </th>
    </tr>

    <tr>
        <th>
            1.
        </th>
        <td>
            DAA
        </td>
        <td>
<!--            Quiz1-->4
        </td>
        <td>
<!--            Mid-Sem--> 25
        </td>
        <td>
<!--            Quiz2-->8
        </td>
        <td>
<!--            End-Sem-->45
        </td>
        <td>
<!--            Total-->84
        </td>
    </tr>

    <tr>
        <th>
            1.
        </th>
        <td>
            DAA
        </td>
        <td>
            <!--            Quiz1-->4
        </td>
        <td>
            <!--            Mid-Sem--> 25
        </td>
        <td>
            <!--            Quiz2-->8
        </td>
        <td>
            <!--            End-Sem-->45
        </td>
        <td>
            <!--            Total-->84
        </td>
    </tr>

    <tr>
        <th>
            2.
        </th>
        <td>
            TOC
        </td>
        <td>
            <!--            Quiz1-->4
        </td>
        <td>
            <!--            Mid-Sem--> 25
        </td>
        <td>
            <!--            Quiz2-->8
        </td>
        <td>
            <!--            End-Sem-->45
        </td>
        <td>
            <!--            Total-->84
        </td>
    </tr>


    <tr>
        <th>
            3.
        </th>
        <td>
            OS
        </td>
        <td>
            <!--            Quiz1-->4
        </td>
        <td>
            <!--            Mid-Sem--> 25
        </td>
        <td>
            <!--            Quiz2-->8
        </td>
        <td>
            <!--            End-Sem-->45
        </td>
        <td>
            <!--            Total-->84
        </td>
    </tr>


    <tr>
        <th>
            4.
        </th>
        <td>
            CN
        </td>
        <td>
            <!--            Quiz1-->4
        </td>
        <td>
            <!--            Mid-Sem--> 25
        </td>
        <td>
            <!--            Quiz2-->8
        </td>
        <td>
            <!--            End-Sem-->45
        </td>
        <td>
            <!--            Total-->84
        </td>
    </tr>
</table>

</div>
<%- include("footer"); -%>
