<%- include("partials/header") -%>

<div class="jumbotron">
 <h1 class="display-4"><%=text%></h1>
 <p class="lead">There is an error on your login. For help you can contact  <a href="mailto:18ucs158@gmail.com?subject=Login Problem">Administrator.</a></p>

 <a class="btn btn-primary btn-lg" href="/" role="button">Back to Login</a>
</div>


<%- include("partials/footer") -%>
