<%- include("partials/header"); -%>

<div class="div1">

<% if(success!=''){%>
<div class="alert alert-success" role="alert">
  <strong>Success! </strong><%=success%>
</div>
<% } %>

<%- include("partials/navbar"); -%>

</div>

<%- include("partials/footer"); -%>
